# Panda Data Manipulation Challege Project - This is Jeopardy!

### Project Goals
You will work to write several functions that investigate a dataset of Jeopardy! questions and answers. Filter the dataset for topics that you’re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

Note that in order to make this project as “real-world” as possible, we haven’t modified the data at all — we’re giving it to you exactly how we found it. As a result, this data isn’t as “clean” as the datasets you normally find on Codecademy. More specifically, there’s something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier the rest of the project.

In [37]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy = pd.read_csv("jeopardy.csv")
jeopardy.columns = ["Show Number", "Air Date", "Round", "Category", "Value", "Question", "Answer"]
print(jeopardy.head())

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

### Task 1
Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

Test your function by printing out the column containing the question of each row of the dataset.

In [38]:
def filtered_questions(df, words):
    filtered = lambda row: all(word.lower() in row.lower() for word in words)
    return df.loc[df["Question"].apply(filtered)]

print(filtered_questions(jeopardy, ["king", "england"]))

        Show Number    Air Date             Round               Category  \
4953           3003  1997-09-24  Double Jeopardy!           "PH"UN WORDS
6337           3517  1999-12-14  Double Jeopardy!                    Y1K
9191           3907  2001-09-04  Double Jeopardy!         WON THE BATTLE
11710          2903  1997-03-26  Double Jeopardy!       BRITISH MONARCHS
13454          4726  2005-03-07         Jeopardy!  A NUMBER FROM 1 TO 10
...             ...         ...               ...                    ...
208295         4621  2004-10-11         Jeopardy!            THE VIKINGS
208742         4863  2005-11-02  Double Jeopardy!         BEFORE & AFTER
213870         5856  2010-02-15  Double Jeopardy!                 URANUS
216021         1881  1992-11-09  Double Jeopardy!         HISTORIC NAMES
216789         5070  2006-09-29  Double Jeopardy!        ANCIENT HISTORY

         Value  \
4953      $200
6337      $800
9191      $800
11710     $600
13454    $1000
...        ...
208295    $600
208742  $3,000
213870   $1600
216021   $1000
216789   $1200

                                                                                                      Question  \
4953                  Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                  This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710             This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                     It's the number that followed the last king of England named William
...                                                                                                        ...
208295      In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                    Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870              In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021        His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789      This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric

                              Answer
4953    Philately (stamp collecting)
6337                        Ethelred
9191                         Henry V
11710                        James I
13454                              4
...                              ...
208295         William the Conqueror
208742      William of Orange roughy
213870                    George III
216021                    Edward VII
216789                        Wessex

[152 rows x 7 columns]

### Task 2
We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the `" Value"` column to floats. If you’d like to, you can create a new column with the float values.

Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the “difficulty” of certain topics. For example, what is the average value of questions that contain the word `"King"`?

Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [39]:
jeopardy["Float_Value"] = jeopardy.Value.apply(lambda x: float(x.replace(",","").split("$")[-1]) if x != "None" else float(0))

# Filtering questions based on a given value
print(jeopardy[jeopardy.Float_Value > 15000])

        Show Number    Air Date             Round   Category    Value  \
150825         6246  2011-11-14  Double Jeopardy!  LANGUAGES  $18,000
195755         6217  2011-10-04  Double Jeopardy!     PLUS 8  $16,400

                                                                                                             Question  \
150825  Although Dutch is the official language, Sranan Tongo is spoken by most people in this South American country
195755                                                                   Number of days in a leap year times 2 plus 8

          Answer  Float_Value
150825  Suriname      18000.0
195755       740      16400.0

In [40]:
# Averarge value of questions that contain the word "King"
print(filtered_questions(jeopardy, ["king"]).Float_Value.mean())

771.8833850722094

### Task 3
Write a function that returns the count of the unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions.

In [41]:
def answer_count(df):
    return df["Answer"].value_counts()

# Counting prevalence of answers after filtering questions by the word "King"
print(answer_count(filtered_questions(jeopardy, ["King"])))

Henry VIII                  55
Solomon                     35
Richard III                 33
Louis XIV                   31
David                       30
                            ..
bee                          1
blowholes                    1
Los Angeles & Sacramento     1
Jelly Roll Morton            1
a wheelbarrow                1
Name: Answer, Length: 5268, dtype: int64